.fotorama__arr:focus:after, .fotorama__fullscreen-icon:focus:after, .fotorama__html, .fotorama__img, .fotorama__nav__frame:focus .fotorama__dot:after, .fotorama__nav__frame:focus .fotorama__thumb:after, .fotorama__stage__frame, .fotorama__stage__shaft, .fotorama__video iframe {
position: absolute;
width: 100%;
height: 100%;
top: 0;
right: 0;
left: 0;
bottom: 0; }
.fotorama--fullscreen, .fotorama__img {
max-width: 99999px !important;
max-height: 99999px !important;
min-width: 0 !important;
min-height: 0 !important;
-webkit-border-radius: 0 !important;
border-radius: 0 !important;
-webkit-box-shadow: none !important;
box-shadow: none !important;
padding: 0 !important; }
.fotorama__wrap .fotorama__grab {
cursor: move;
cursor: -webkit-grab;
cursor: -o-grab;
cursor: -ms-grab;
cursor: grab; }
.fotorama__grabbing * {
cursor: move;
cursor: -webkit-grabbing;
cursor: -o-grabbing;
cursor: -ms-grabbing;
cursor: grabbing; }
.fotorama__spinner {
position: absolute !important;
top: 50% !important;
left: 50% !important; }
.fotorama__wrap--css3 .fotorama__arr, .fotorama__wrap--css3 .fotorama__fullscreen-icon, .fotorama__wrap--css3 .fotorama__nav__shaft, .fotorama__wrap--css3 .fotorama__stage__shaft, .fotorama__wrap--css3 .fotorama__thumb-border, .fotorama__wrap--css3 .fotorama__video-close, .fotorama__wrap--css3 .fotorama__video-play {
-webkit-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0); }
.fotorama__caption, .fotorama__nav:after, .fotorama__nav:before, .fotorama__stage:after, .fotorama__stage:before, .fotorama__wrap--css3 .fotorama__html, .fotorama__wrap--css3 .fotorama__nav, .fotorama__wrap--css3 .fotorama__spinner, .fotorama__wrap--css3 .fotorama__stage, .fotorama__wrap--css3 .fotorama__stage .fotorama__img, .fotorama__wrap--css3 .fotorama__stage__frame {
-webkit-transform: translateZ(0);
transform: translateZ(0); }
.fotorama__arr:focus, .fotorama__fullscreen-icon:focus, .fotorama__nav__frame {
outline: 0; }
.fotorama__arr:focus:after, .fotorama__fullscreen-icon:focus:after, .fotorama__nav__frame:focus .fotorama__dot:after, .fotorama__nav__frame:focus .fotorama__thumb:after {
content: '';
-webkit-border-radius: inherit;
border-radius: inherit;
background-color: rgba(0, 175, 234, 0.5); }
.fotorama__wrap--video .fotorama__stage, .fotorama__wrap--video .fotorama__stage__frame--video, .fotorama__wrap--video .fotorama__stage__frame--video .fotorama__html, .fotorama__wrap--video .fotorama__stage__frame--video .fotorama__img, .fotorama__wrap--video .fotorama__stage__shaft {
-webkit-transform: none !important;
-ms-transform: none !important;
transform: none !important; }
.fotorama__wrap--css3 .fotorama__nav__shaft, .fotorama__wrap--css3 .fotorama__stage__shaft, .fotorama__wrap--css3 .fotorama__thumb-border {
transition-property: -webkit-transform,width;
-webkit-transition-property: width,-webkit-transform;
transition-property: width,-webkit-transform;
-o-transition-property: transform,width;
transition-property: transform,width;
transition-property: transform,width,-webkit-transform;
-webkit-transition-timing-function: cubic-bezier(0.1, 0, 0.25, 1);
-o-transition-timing-function: cubic-bezier(0.1, 0, 0.25, 1);
transition-timing-function: cubic-bezier(0.1, 0, 0.25, 1);
-webkit-transition-duration: 0ms;
-o-transition-duration: 0ms;
transition-duration: 0ms; }
.fotorama__arr, .fotorama__fullscreen-icon, .fotorama__no-select, .fotorama__video-close, .fotorama__video-play, .fotorama__wrap {
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none; }
.fotorama__select {
-webkit-user-select: text;
-moz-user-select: text;
-ms-user-select: text;
user-select: text; }
.fotorama__nav, .fotorama__nav__frame {
margin: auto;
padding: 0; }
.fotorama__caption__wrap, .fotorama__nav__frame, .fotorama__nav__shaft {
display: inline-block;
vertical-align: middle;
*display: inline;
*zoom: 1; }
.fotorama__nav__frame, .fotorama__thumb-border {
-webkit-box-sizing: content-box;
box-sizing: content-box; }
.fotorama__caption__wrap {
-webkit-box-sizing: border-box;
box-sizing: border-box; }
.fotorama--hidden, .fotorama__load {
position: absolute;
left: -99999px;
top: -99999px;
z-index: -1; }
.fotorama__arr, .fotorama__fullscreen-icon, .fotorama__nav, .fotorama__nav__frame, .fotorama__nav__shaft, .fotorama__stage__frame, .fotorama__stage__shaft, .fotorama__video-close, .fotorama__video-play {
-webkit-tap-highlight-color: transparent; }
.fotorama__arr, .fotorama__fullscreen-icon, .fotorama__video-close, .fotorama__video-play {
background: url() no-repeat; }
@media (-webkit-min-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 2dppx) {
.fotorama__arr, .fotorama__fullscreen-icon, .fotorama__video-close, .fotorama__video-play {
background: url() 0 0/96px 160px no-repeat; } }
.fotorama__thumb {
background-color: #7f7f7f;
background-color: rgba(127, 127, 127, 0.2); }
@media print {
.fotorama__arr, .fotorama__fullscreen-icon, .fotorama__thumb-border, .fotorama__video-close, .fotorama__video-play {
background: none !important; } }
.fotorama {
min-width: 1px;
overflow: hidden; }
.fotorama:not(.fotorama--unobtrusive) > *:not(:first-child) {
display: none; }
.fullscreen {
width: 100% !important;
height: 100% !important;
max-width: 100% !important;
max-height: 100% !important;
margin: 0 !important;
padding: 0 !important;
overflow: hidden !important;
background: #000; }
.fotorama--fullscreen {
position: absolute !important;
top: 0 !important;
left: 0 !important;
right: 0 !important;
bottom: 0 !important;
float: none !important;
z-index: 2147483647 !important;
background: #000;
width: 100% !important;
height: 100% !important;
margin: 0 !important; }
.fotorama--fullscreen .fotorama__nav, .fotorama--fullscreen .fotorama__stage {
background: #000; }
.fotorama__wrap {
-webkit-text-size-adjust: 100%;
position: relative;
direction: ltr;
z-index: 0; }
.fotorama__wrap--rtl .fotorama__stage__frame {
direction: rtl; }
.fotorama__nav, .fotorama__stage {
overflow: hidden;
position: relative;
max-width: 100%; }
.fotorama__wrap--pan-y {
-ms-touch-action: pan-y;
touch-action: pan-y; }
.fotorama__wrap .fotorama__pointer {
cursor: pointer; }
.fotorama__wrap--slide .fotorama__stage__frame {
opacity: 1 !important; }
.fotorama__stage__frame {
overflow: hidden; }
.fotorama__stage__frame.fotorama__active {
z-index: 8; }
.fotorama__wrap--fade .fotorama__stage__frame {
display: none; }
.fotorama__wrap--fade .fotorama__fade-front, .fotorama__wrap--fade .fotorama__fade-rear, .fotorama__wrap--fade .fotorama__stage__frame.fotorama__active {
display: block;
left: 0;
top: 0; }
.fotorama__wrap--fade .fotorama__fade-front {
z-index: 8; }
.fotorama__wrap--fade .fotorama__fade-rear {
z-index: 7; }
.fotorama__wrap--fade .fotorama__fade-rear.fotorama__active {
z-index: 9; }
.fotorama__wrap--fade .fotorama__stage .fotorama__shadow {
display: none; }
.fotorama__img {
-ms-filter: "alpha(Opacity=0)";
filter: alpha(opacity=0);
opacity: 0;
border: none !important; }
.fotorama__error .fotorama__img, .fotorama__loaded .fotorama__img {
-ms-filter: "alpha(Opacity=100)";
filter: alpha(opacity=100);
opacity: 1; }
.fotorama--fullscreen .fotorama__loaded--full .fotorama__img, .fotorama__img--full {
display: none; }
.fotorama--fullscreen .fotorama__loaded--full .fotorama__img--full {
display: block; }
.fotorama__wrap--only-active .fotorama__nav, .fotorama__wrap--only-active .fotorama__stage {
max-width: 99999px !important; }
.fotorama__wrap--only-active .fotorama__stage__frame {
visibility: hidden; }
.fotorama__wrap--only-active .fotorama__stage__frame.fotorama__active {
visibility: visible; }
.fotorama__nav {
font-size: 0;
line-height: 0;
text-align: center;
display: none;
white-space: nowrap;
z-index: 5; }
.fotorama__nav__shaft {
position: relative;
left: 0;
top: 0;
text-align: left; }
.fotorama__nav__frame {
position: relative;
cursor: pointer; }
.fotorama__nav--dots {
display: block; }
.fotorama__nav--dots .fotorama__nav__frame {
width: 18px;
height: 30px; }
.fotorama__nav--dots .fotorama__nav__frame--thumb, .fotorama__nav--dots .fotorama__thumb-border {
display: none; }
.fotorama__nav--thumbs {
display: block; }
.fotorama__nav--thumbs .fotorama__nav__frame {
padding-left: 0 !important; }
.fotorama__nav--thumbs .fotorama__nav__frame:last-child {
padding-right: 0 !important; }
.fotorama__nav--thumbs .fotorama__nav__frame--dot {
display: none; }
.fotorama__dot {
display: block;
width: 4px;
height: 4px;
position: relative;
top: 12px;
left: 6px;
-webkit-border-radius: 6px;
border-radius: 6px;
border: 1px solid #7f7f7f; }
.fotorama__nav__frame:focus .fotorama__dot:after {
padding: 1px;
top: -1px;
left: -1px; }
.fotorama__nav__frame.fotorama__active .fotorama__dot {
width: 0;
height: 0;
border-width: 3px; }
.fotorama__nav__frame.fotorama__active .fotorama__dot:after {
padding: 3px;
top: -3px;
left: -3px; }
.fotorama__thumb {
overflow: hidden;
position: relative;
width: 100%;
height: 100%; }
.fotorama__nav__frame:focus .fotorama__thumb {
z-index: 2; }
.fotorama__thumb-border {
position: absolute;
z-index: 9;
top: 0;
left: 0;
border-style: solid;
border-color: #00afea;
background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(64, 64, 64, 0.1)));
background-image: -webkit-linear-gradient(top left, rgba(255, 255, 255, 0.25), rgba(64, 64, 64, 0.1));
background-image: -o-linear-gradient(top left, rgba(255, 255, 255, 0.25), rgba(64, 64, 64, 0.1));
background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.25), rgba(64, 64, 64, 0.1)); }
.fotorama__caption {
position: absolute;
z-index: 12;
bottom: 0;
left: 0;
right: 0;
font-family: 'Helvetica Neue',Arial,sans-serif;
font-size: 14px;
line-height: 1.5;
color: #000; }
.fotorama__caption a {
text-decoration: none;
color: #000;
border-bottom: 1px solid;
border-color: rgba(0, 0, 0, 0.5); }
.fotorama__caption a:hover {
color: #333;
border-color: rgba(51, 51, 51, 0.5); }
.fotorama__wrap--rtl .fotorama__caption {
left: auto;
right: 0; }
.fotorama__wrap--no-captions .fotorama__caption, .fotorama__wrap--video .fotorama__caption {
display: none; }
.fotorama__caption__wrap {
background-color: #fff;
background-color: rgba(255, 255, 255, 0.9);
padding: 5px 10px; }
@-webkit-keyframes spinner {
0% {
-webkit-transform: rotate(0);
transform: rotate(0); }
100% {
-webkit-transform: rotate(360deg);
transform: rotate(360deg); } }
@keyframes spinner {
0% {
-webkit-transform: rotate(0);
transform: rotate(0); }
100% {
-webkit-transform: rotate(360deg);
transform: rotate(360deg); } }
.fotorama__wrap--css3 .fotorama__spinner {
-webkit-animation: spinner 24s infinite linear;
animation: spinner 24s infinite linear; }
.fotorama__wrap--css3 .fotorama__html, .fotorama__wrap--css3 .fotorama__stage .fotorama__img {
-webkit-transition-property: opacity;
-o-transition-property: opacity;
transition-property: opacity;
-webkit-transition-timing-function: linear;
-o-transition-timing-function: linear;
transition-timing-function: linear;
-webkit-transition-duration: .3s;
-o-transition-duration: .3s;
transition-duration: .3s; }
.fotorama__wrap--video .fotorama__stage__frame--video .fotorama__html, .fotorama__wrap--video .fotorama__stage__frame--video .fotorama__img {
-ms-filter: "alpha(Opacity=0)";
filter: alpha(opacity=0);
opacity: 0; }
.fotorama__select {
cursor: auto; }
.fotorama__video {
top: 32px;
right: 0;
bottom: 0;
left: 0;
position: absolute;
z-index: 10; }
@-moz-document url-prefix() {
.fotorama__active {
box-shadow: 0 0 0 transparent; } }
.fotorama__arr, .fotorama__fullscreen-icon, .fotorama__video-close, .fotorama__video-play {
position: absolute;
z-index: 11;
cursor: pointer; }
.fotorama__arr {
position: absolute;
width: 32px;
height: 32px;
top: 50%;
margin-top: -16px; }
.fotorama__arr--prev {
left: 2px;
background-position: 0 0; }
.fotorama__arr--next {
right: 2px;
background-position: -32px 0; }
.fotorama__arr--disabled {
pointer-events: none;
cursor: default;
*display: none;
opacity: .1; }
.fotorama__fullscreen-icon {
width: 32px;
height: 32px;
top: 2px;
right: 2px;
background-position: 0 -32px;
z-index: 20; }
.fotorama__arr:focus, .fotorama__fullscreen-icon:focus {
-webkit-border-radius: 50%;
border-radius: 50%; }
.fotorama--fullscreen .fotorama__fullscreen-icon {
background-position: -32px -32px; }
.fotorama__video-play {
width: 96px;
height: 96px;
left: 50%;
top: 50%;
margin-left: -48px;
margin-top: -48px;
background-position: 0 -64px;
opacity: 0; }
.fotorama__wrap--css2 .fotorama__video-play, .fotorama__wrap--video .fotorama__stage .fotorama__video-play {
display: none; }
.fotorama__error .fotorama__video-play, .fotorama__loaded .fotorama__video-play, .fotorama__nav__frame .fotorama__video-play {
opacity: 1;
display: block; }
.fotorama__nav__frame .fotorama__video-play {
width: 32px;
height: 32px;
margin-left: -16px;
margin-top: -16px;
background-position: -64px -32px; }
.fotorama__video-close {
width: 32px;
height: 32px;
top: 0;
right: 0;
background-position: -64px 0;
z-index: 20;
opacity: 0; }
.fotorama__wrap--css2 .fotorama__video-close {
display: none; }
.fotorama__wrap--css3 .fotorama__video-close {
-webkit-transform: translate3d(32px, -32px, 0);
transform: translate3d(32px, -32px, 0); }
.fotorama__wrap--video .fotorama__video-close {
display: block;
opacity: 1; }
.fotorama__wrap--css3.fotorama__wrap--video .fotorama__video-close {
-webkit-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0); }
.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr, .fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon {
opacity: 0; }
.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr:focus, .fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon:focus {
opacity: 1; }
.fotorama__wrap--video .fotorama__arr, .fotorama__wrap--video .fotorama__fullscreen-icon {
opacity: 0 !important; }
.fotorama__wrap--css2.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr, .fotorama__wrap--css2.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon {
display: none; }
.fotorama__wrap--css2.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr:focus, .fotorama__wrap--css2.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon:focus {
display: block; }
.fotorama__wrap--css2.fotorama__wrap--video .fotorama__arr, .fotorama__wrap--css2.fotorama__wrap--video .fotorama__fullscreen-icon {
display: none !important; }
.fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon:not(:focus) {
-webkit-transform: translate3d(32px, -32px, 0);
transform: translate3d(32px, -32px, 0); }
.fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__arr--prev:not(:focus) {
-webkit-transform: translate3d(-48px, 0, 0);
transform: translate3d(-48px, 0, 0); }
.fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__arr--next:not(:focus) {
-webkit-transform: translate3d(48px, 0, 0);
transform: translate3d(48px, 0, 0); }
.fotorama__wrap--css3.fotorama__wrap--video .fotorama__fullscreen-icon {
-webkit-transform: translate3d(32px, -32px, 0) !important;
transform: translate3d(32px, -32px, 0) !important; }
.fotorama__wrap--css3.fotorama__wrap--video .fotorama__arr--prev {
-webkit-transform: translate3d(-48px, 0, 0) !important;
transform: translate3d(-48px, 0, 0) !important; }
.fotorama__wrap--css3.fotorama__wrap--video .fotorama__arr--next {
-webkit-transform: translate3d(48px, 0, 0) !important;
transform: translate3d(48px, 0, 0) !important; }
.fotorama__wrap--css3 .fotorama__arr:not(:focus), .fotorama__wrap--css3 .fotorama__fullscreen-icon:not(:focus), .fotorama__wrap--css3 .fotorama__video-close:not(:focus), .fotorama__wrap--css3 .fotorama__video-play:not(:focus) {
transition-property: -webkit-transform,opacity;
-webkit-transition-property: opacity,-webkit-transform;
transition-property: opacity,-webkit-transform;
-o-transition-property: transform,opacity;
transition-property: transform,opacity;
transition-property: transform,opacity,-webkit-transform;
-webkit-transition-duration: .3s;
-o-transition-duration: .3s;
transition-duration: .3s; }
.fotorama__nav:after, .fotorama__nav:before, .fotorama__stage:after, .fotorama__stage:before {
content: "";
display: block;
position: absolute;
text-decoration: none;
top: 0;
bottom: 0;
width: 10px;
height: auto;
z-index: 10;
pointer-events: none;
background-repeat: no-repeat;
-webkit-background-size: 1px 100%,5px 100%;
background-size: 1px 100%,5px 100%; }
.fotorama__nav:before, .fotorama__stage:before {
background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(25%, rgba(0, 0, 0, 0.2)), color-stop(75%, rgba(0, 0, 0, 0.3)), to(transparent)), radial-gradient(farthest-side at 0 50%, rgba(0, 0, 0, 0.4), transparent);
background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.2) 25%, rgba(0, 0, 0, 0.3) 75%, transparent), -webkit-radial-gradient(0 50%, farthest-side, rgba(0, 0, 0, 0.4), transparent);
background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.2) 25%, rgba(0, 0, 0, 0.3) 75%, transparent), -o-radial-gradient(0 50%, farthest-side, rgba(0, 0, 0, 0.4), transparent);
background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.2) 25%, rgba(0, 0, 0, 0.3) 75%, transparent), radial-gradient(farthest-side at 0 50%, rgba(0, 0, 0, 0.4), transparent);
background-position: 0 0,0 0;
left: -10px; }
.fotorama__nav.fotorama__shadows--left:before, .fotorama__stage.fotorama__shadows--left:before {
left: 0; }
.fotorama__nav:after, .fotorama__stage:after {
background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(25%, rgba(0, 0, 0, 0.2)), color-stop(75%, rgba(0, 0, 0, 0.3)), to(transparent)), radial-gradient(farthest-side at 100% 50%, rgba(0, 0, 0, 0.4), transparent);
background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.2) 25%, rgba(0, 0, 0, 0.3) 75%, transparent), -webkit-radial-gradient(100% 50%, farthest-side, rgba(0, 0, 0, 0.4), transparent);
background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.2) 25%, rgba(0, 0, 0, 0.3) 75%, transparent), -o-radial-gradient(100% 50%, farthest-side, rgba(0, 0, 0, 0.4), transparent);
background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.2) 25%, rgba(0, 0, 0, 0.3) 75%, transparent), radial-gradient(farthest-side at 100% 50%, rgba(0, 0, 0, 0.4), transparent);
background-position: 100% 0,100% 0;
right: -10px; }
.fotorama__nav.fotorama__shadows--right:after, .fotorama__stage.fotorama__shadows--right:after {
right: 0; }
.fotorama--fullscreen .fotorama__nav:after, .fotorama--fullscreen .fotorama__nav:before, .fotorama--fullscreen .fotorama__stage:after, .fotorama--fullscreen .fotorama__stage:before, .fotorama__wrap--fade .fotorama__stage:after, .fotorama__wrap--fade .fotorama__stage:before, .fotorama__wrap--no-shadows .fotorama__nav:after, .fotorama__wrap--no-shadows .fotorama__nav:before, .fotorama__wrap--no-shadows .fotorama__stage:after, .fotorama__wrap--no-shadows .fotorama__stage:before {
display: none; }
/**
* selectize.css (v0.12.6)
* Copyright (c) 2013–2015 Brian Reavis & contributors
*
* Licensed under the Apache License, Version 2.0 (the "License"); you may not use this
* file except in compliance with the License. You may obtain a copy of the License at:
* http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software distributed under
* the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF
* ANY KIND, either express or implied. See the License for the specific language
* governing permissions and limitations under the License.
*
* @author Brian Reavis <brian@thirdroute.com>
*/
.selectize-control.plugin-drag_drop.multi > .selectize-input > div.ui-sortable-placeholder {
visibility: visible !important;
background: #f2f2f2 !important;
background: rgba(0, 0, 0, 0.06) !important;
border: 0 none !important;
-webkit-box-shadow: inset 0 0 12px 4px #fff;
box-shadow: inset 0 0 12px 4px #fff; }
.selectize-control.plugin-drag_drop .ui-sortable-placeholder::after {
content: '!';
visibility: hidden; }
.selectize-control.plugin-drag_drop .ui-sortable-helper {
-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); }
.selectize-dropdown-header {
position: relative;
padding: 5px 8px;
border-bottom: 1px solid #d0d0d0;
background: #f8f8f8;
-webkit-border-radius: 3px 3px 0 0;
border-radius: 3px 3px 0 0; }
.selectize-dropdown-header-close {
position: absolute;
right: 8px;
top: 50%;
color: #303030;
opacity: 0.4;
margin-top: -12px;
line-height: 20px;
font-size: 20px !important; }
.selectize-dropdown-header-close:hover {
color: #000000; }
.selectize-dropdown.plugin-optgroup_columns .optgroup {
border-right: 1px solid #f2f2f2;
border-top: 0 none;
float: left;
-webkit-box-sizing: border-box;
box-sizing: border-box; }
.selectize-dropdown.plugin-optgroup_columns .optgroup:last-child {
border-right: 0 none; }
.selectize-dropdown.plugin-optgroup_columns .optgroup:before {
display: none; }
.selectize-dropdown.plugin-optgroup_columns .optgroup-header {
border-top: 0 none; }
.selectize-control.plugin-remove_button [data-value] {
position: relative;
padding-right: 24px !important; }
.selectize-control.plugin-remove_button [data-value] .remove {
z-index: 1;
/* fixes ie bug (see #392) */
position: absolute;
top: 0;
right: 0;
bottom: 0;
width: 17px;
text-align: center;
font-weight: bold;
font-size: 12px;
color: inherit;
text-decoration: none;
vertical-align: middle;
display: inline-block;
padding: 2px 0 0 0;
border-left: 1px solid #d0d0d0;
-webkit-border-radius: 0 2px 2px 0;
border-radius: 0 2px 2px 0;
-webkit-box-sizing: border-box;
box-sizing: border-box; }
.selectize-control.plugin-remove_button [data-value] .remove:hover {
background: rgba(0, 0, 0, 0.05); }
.selectize-control.plugin-remove_button [data-value].active .remove {
border-left-color: #cacaca; }
.selectize-control.plugin-remove_button .disabled [data-value] .remove:hover {
background: none; }
.selectize-control.plugin-remove_button .disabled [data-value] .remove {
border-left-color: #ffffff; }
.selectize-control.plugin-remove_button .remove-single {
position: absolute;
right: 0;
top: 0;
font-size: 23px; }
.selectize-control {
position: relative; }
.selectize-dropdown,
.selectize-input,
.selectize-input input {
color: #303030;
font-family: inherit;
font-size: 13px;
line-height: 18px;
-webkit-font-smoothing: inherit; }
.selectize-input,
.selectize-control.single .selectize-input.input-active {
background: #fff;
cursor: text;
display: inline-block; }
.selectize-input {
border: 1px solid #d0d0d0;
padding: 8px 8px;
display: inline-block;
width: 100%;
overflow: hidden;
position: relative;
z-index: 1;
-webkit-box-sizing: border-box;
box-sizing: border-box;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
-webkit-border-radius: 3px;
border-radius: 3px; }
.selectize-control.multi .selectize-input.has-items {
padding: 6px 8px 3px; }
.selectize-input.full {
background-color: #fff; }
.selectize-input.disabled,
.selectize-input.disabled * {
cursor: default !important; }
.selectize-input.focus {
-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15); }
.selectize-input.dropdown-active {
-webkit-border-radius: 3px 3px 0 0;
border-radius: 3px 3px 0 0; }
.selectize-input > * {
vertical-align: baseline;
display: -moz-inline-stack;
display: inline-block;
zoom: 1;
*display: inline; }
.selectize-control.multi .selectize-input > div {
cursor: pointer;
margin: 0 3px 3px 0;
padding: 2px 6px;
background: #f2f2f2;
color: #303030;
border: 0 solid #d0d0d0; }
.selectize-control.multi .selectize-input > div.active {
background: #e8e8e8;
color: #303030;
border: 0 solid #cacaca; }
.selectize-control.multi .selectize-input.disabled > div,
.selectize-control.multi .selectize-input.disabled > div.active {
color: #7d7d7d;
background: #ffffff;
border: 0 solid #ffffff; }
.selectize-input > input {
display: inline-block !important;
padding: 0 !important;
min-height: 0 !important;
max-height: none !important;
max-width: 100% !important;
margin: 0 2px 0 0 !important;
text-indent: 0 !important;
border: 0 none !important;
background: none !important;
line-height: inherit !important;
-webkit-user-select: auto !important;
-webkit-box-shadow: none !important;
box-shadow: none !important; }
.selectize-input > input::-ms-clear {
display: none; }
.selectize-input > input:focus {
outline: none !important; }
.selectize-input::after {
content: ' ';
display: block;
clear: left; }
.selectize-input.dropdown-active::before {
content: ' ';
display: block;
position: absolute;
background: #f0f0f0;
height: 1px;
bottom: 0;
left: 0;
right: 0; }
.selectize-dropdown {
position: absolute;
z-index: 10;
border: 1px solid #d0d0d0;
background: #fff;
margin: -1px 0 0 0;
border-top: 0 none;
-webkit-box-sizing: border-box;
box-sizing: border-box;
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
-webkit-border-radius: 0 0 3px 3px;
border-radius: 0 0 3px 3px; }
.selectize-dropdown [data-selectable] {
cursor: pointer;
overflow: hidden; }
.selectize-dropdown [data-selectable] .highlight {
background: rgba(125, 168, 208, 0.2);
-webkit-border-radius: 1px;
border-radius: 1px; }
.selectize-dropdown .option,
.selectize-dropdown .optgroup-header {
padding: 5px 8px; }
.selectize-dropdown .option,
.selectize-dropdown [data-disabled],
.selectize-dropdown [data-disabled] [data-selectable].option {
cursor: inherit;
opacity: 0.5; }
.selectize-dropdown [data-selectable].option {
opacity: 1; }
.selectize-dropdown .optgroup:first-child .optgroup-header {
border-top: 0 none; }
.selectize-dropdown .optgroup-header {
color: #303030;
background: #fff;
cursor: default; }
.selectize-dropdown .active {
background-color: #f5fafd;
color: #495c68; }
.selectize-dropdown .active.create {
color: #495c68; }
.selectize-dropdown .create {
color: rgba(48, 48, 48, 0.5); }
.selectize-dropdown-content {
overflow-y: auto;
overflow-x: hidden;
max-height: 200px;
-webkit-overflow-scrolling: touch; }
.selectize-control.single .selectize-input,
.selectize-control.single .selectize-input input {
cursor: pointer; }
.selectize-control.single .selectize-input.input-active,
.selectize-control.single .selectize-input.input-active input {
cursor: text; }
.selectize-control.single .selectize-input:after {
content: ' ';
display: block;
position: absolute;
top: 50%;
right: 15px;
margin-top: -3px;
width: 0;
height: 0;
border-style: solid;
border-width: 5px 5px 0 5px;
border-color: #808080 transparent transparent transparent; }
.selectize-control.single .selectize-input.dropdown-active:after {
margin-top: -4px;
border-width: 0 5px 5px 5px;
border-color: transparent transparent #808080 transparent; }
.selectize-control.rtl.single .selectize-input:after {
left: 15px;
right: auto; }
.selectize-control.rtl .selectize-input > input {
margin: 0 4px 0 -2px !important; }
.selectize-control .selectize-input.disabled {
opacity: 0.5;
background-color: #fafafa; }
* {
margin: 0;
padding: 0;
-webkit-box-sizing: border-box;
box-sizing: border-box; }
*:before, *:after {
-webkit-box-sizing: border-box;
box-sizing: border-box; }
li {
list-style: none; }
html, body {
height: 100%; }
body {
font-size: 16px;
min-width: 320px;
position: relative;
line-height: 1.75;
font-family: "Raleway", sans-serif;
overflow-x: hidden;
opacity: 1; }
body.ishome .site-header {
min-height: 700px;
height: 100vh;
background-color: #000;
color: #fff; }
body.ishome .site-header .top-line {
padding-top: 40px;
position: absolute;
width: 100%;
z-index: 1; }
.h1, .h2, .h3, .h4, .h5, .h6 {
line-height: 1.4;
text-transform: uppercase; }
.button {
display: inline-block;
border: none;
color: #fff;
text-decoration: none;
background-color: #FF9800;
padding: 15px 45px;
font-size: 13px;
text-transform: uppercase;
font-weight: 600;
letter-spacing: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
text-align: center;
position: relative;
outline: none;
-webkit-transition: background-color .1s ease;
-o-transition: background-color .1s ease;
transition: background-color .1s ease; }
.button::after {
-webkit-transition: background-color .2s ease;
-o-transition: background-color .2s ease;
transition: background-color .2s ease;
position: absolute;
content: '';
height: 4px;
bottom: 0;
width: 100%;
background-color: black;
opacity: .18;
-webkit-border-bottom-left-radius: 2px;
border-bottom-left-radius: 2px;
-webkit-border-bottom-right-radius: 2px;
border-bottom-right-radius: 2px;
left: 0; }
.button:focus, .button:hover {
text-decoration: none;
color: #fff; }
.button:hover {
background-color: #ffa21a; }
.button:hover::after {
opacity: .22; }
.button:active {
background-color: #e68900; }
.button:active::after {
opacity: .32; }
.button.button-white {
background-color: #fff;
color: #444; }
.button.button-white:hover {
background-color: #f7f7f7; }
.text-center {
text-align: center; }
.logo img {
width: 134px;
height: auto;
margin-left: 45px; }
.phone {
position: absolute;
right: 85px;
top: 44px;
font-family: firasans, sans-serif;
font-size: 22px;
white-space: nowrap; }
.phone .fa {
vertical-align: middle; 
color: #555;
font-size: 40px;
margin-right: 3px; }
.phone a {
text-decoration: none;
color: #fff;
opacity: .8;
vertical-align: middle;
transition: all .5s ease;}
.phone a:hover {
color: #ff9800;
opacity: 1;}
section, header {
position: relative;
-webkit-background-size: cover;
background-size: cover;
background-position: center; }
section {
background-color: #fff; }
section.inverse {
color: #fff;
background-color: #000; }
section.inverse.inverse {
background-color: #16151B; }
section .h2 {
text-align: center;
font-size: 30px;
font-weight: 800;
color: #FF9800; }
section .h2 span {
color: #fff; }
.hamburger {
right: 0;
position: absolute;
top: 35px; }
.hamburger .hamburger-box {
width: 34px; }
.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
-webkit-border-radius: 0;
border-radius: 0;
width: 34px;
height: 2px;
background-color: #fff; }
.mm-navbar {
height: auto;
position: relative;
border: none; }
.mm-navbar .mm-title {
padding: 0;
width: 134px;
height: auto;
margin: 10px 0 35px; }
.mm-listview > li:not(.mm-divider):after {
display: none; }
.mm-panels > .mm-panel:after, .mm-panels > .mm-panel:before {
height: 0; }
.mm-panels > .mm-panel > .mm-listview:first-child, .mm-panels > .mm-panel > .mm-navbar + .mm-listview {
margin-top: 0; }
.mm-listview > li > a {
-webkit-transition: color .25s ease;
-o-transition: color .25s ease;
transition: color .25s ease;
padding-left: 14%;
padding-right: 14%;
padding-top: 8px; }
.mm-listview > li > a:hover {
color: #FF9800; }
.mm-listview > li > a::before {
content: '\f219';
font-family: fontawesome;
margin-right: 8px; }
.mm-listview > li > a {
color: #FF9800; }
.mm-listview .active {
color: #FF9800; }
.header-flex {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
height: 100%;
position: relative;
top: 50px; }
.flex-center {
margin: auto; }
.header-composition {
text-align: center;
position: relative; }
.header-composition p {
margin-top: 40px; }
.header-composition .button {
margin-top: 25px; }
.welcome p {
font-size: 14px;
text-transform: uppercase;
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-webkit-align-items: center;
-ms-flex-align: center;
align-items: center;
white-space: nowrap;
margin: 0;
margin-bottom: -10px; }
.welcome p span {
margin: 0 10px; }
.welcome p::before, .welcome p::after {
content: '';
height: 1px;
width: 100%;
position: relative;
background-color: #fff;
display: inline-block; }
.welcome .h1 {
font-family: 'Fira-Sans';
font-weight: 100;
font-size: 70px;
margin: 0;
line-height: 1.6;
border-bottom: 1px solid #fff;
white-space: nowrap; }
.welcome strong {
display: block;
text-transform: uppercase;
font-size: 22px;
margin-top: 25px; }
.welcome strong .fa {
margin-right: 10px;
font-size: 12px;
color: #555;
margin-left: 10px;
vertical-align: middle; }
.header-social {
position: absolute;
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
right: 0;
height: 100%;
border-left: rgba(255, 255, 255, 0.1) 1px solid;
top: 0;
padding: 0 12.5px; }
.soc {
margin: auto; }
.soc ul, .soc li {
margin: 0;
padding: 0;
list-style: none; }
.soc i {
color: #000; }
.soc a {
color: #2c2c2c;
font-size: 17px;
display: block;
background-color: rgba(255, 255, 255, 0.2);
height: 38px;
width: 38px;
text-align: center;
margin: 18px 0;
line-height: 38px;
-webkit-border-radius: 50%;
border-radius: 50%;
-webkit-transition: background-color .25s ease;
-o-transition: background-color .25s ease;
transition: background-color .25s ease; }
.soc a:hover {
background-color: rgba(255, 255, 255, 0.4); }
.header-contacts {
position: absolute;
bottom: 0;
left: 0;
border-top: rgba(255, 255, 255, 0.15) 1px solid;
padding: 12.5px 0;
width: 100%;
background-color: rgba(21, 21, 21, 0.15); }
.header-contacts .fa {
margin-left: 5px;
color: #555; }
.header-contacts .phone-h {
font-family: firasans, sans-serif;
text-align: center; }
.header-contacts .phone-h i {
    font-size: 19px;}
.header-contacts .phone-h a {
    color: #fff;
    text-decoration: none;
    transition: color .5s ease}
.header-contacts .phone-h a:hover {
    color: #ccc;
}
.carousel-services .owl-item:nth-child(3n+1) {
background-color: #66c7cd; }
.carousel-services .owl-item:nth-child(3n+2) {
background-color: #f86868; }
.carousel-services .owl-item:nth-child(3n+3) {
background-color: #FF9800; }
.carousel-services {
background-color: #000; }
.carousel-services-item {
color: #fff;
font-size: 18px;
font-weight: 300;
position: relative;
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: reverse;
-webkit-flex-direction: column-reverse;
-ms-flex-direction: column-reverse;
flex-direction: column-reverse; }
.carousel-services-item:hover .carousel-services-image {
opacity: 1; }
.carousel-services-item .carousel-logo {
text-align: center; }
.carousel-services-item .carousel-logo img {
width: 100px;
height: auto;
display: inline-block; }
.carousel-services .owl-item:nth-child(2n+2) .carousel-services-item {
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-webkit-flex-direction: column;
-ms-flex-direction: column;
flex-direction: column; }
.carousel-services-image {
-webkit-background-size: cover;
background-size: cover;
background-position: center;
opacity: .7;
-webkit-transition: opacity .5s ease;
-o-transition: opacity .5s ease;
transition: opacity .5s ease; }
.carousel-services-content {
padding: 60px 10%; }
.carousel-services-composition {
margin: auto;
text-align: center;
width: 100%; }
.carousel-services-composition .h3 {
font-weight: 700;
font-size: 28px;
margin-top: 5px;
margin-bottom: 20px; }
.carousel-services-composition .h3 span {
font-size: 18px;
font-weight: 300;
display: block; }
.carousel-services-list {
margin: 0;
padding: 0;
list-style: none;
margin-bottom: 25px; }
.carousel-services-list li {
padding: 10px;
border-bottom: 1px solid rgba(0, 0, 0, 0.12); }
.carousel-services-list li:last-child {
border-bottom: none; }
.carousel-services-list li strong {
font-family: firasans, sans-serif;
color: #4a4a4a; }
.carousel-services-list li .fa {
font-size: 14px; }
.carousel-services .owl-nav {
position: absolute;
top: 0;
width: 100%; }
.carousel-services .owl-nav > button {
display: block;
width: 64px;
height: 64px;
background-color: #fff !important;
color: #000;
position: absolute;
text-align: center;
line-height: 64px;
font-size: 26px !important; }
.carousel-services .owl-nav > button.owl-prev {
left: 0; }
.carousel-services .owl-nav > button.owl-next {
right: 0; }
.carousel-services .owl-nav > button:focus {
outline: none; }
.s-king, .s-review, .s-partners {
padding: 5% 0; }
.s-king p {
margin: 30px 0;
font-size: 18px;
text-align: justify; }
.s-call {
-webkit-background-size: cover;
background-size: cover;
background-repeat: no-repeat; }
.s-call::before {
content: '';
width: 50%;
right: 0;
height: 100%;
position: absolute;
background-color: rgba(4, 75, 119, 0.9); }
.s-partners.section-overlay::before {
background-color: rgba(255, 255, 255, 0.9); }
.s-partners.section-overlay .h2 {
margin-top: 10px; }
.s-partners.section-overlay .h2 span {
color: #FF9800; }
.section-overlay::before {
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: #3d3c3c;
opacity: .92; }
.fotorama {
background-color: rgba(0, 0, 0, 0.4); }
.fotorama__nav-wrap {
position: absolute;
bottom: 15px;
padding: 0 30px;
width: 100%; }
.fotorama__thumb {
border: 4px #fff solid;
-webkit-transition: border-color .5s ease;
-o-transition: border-color .5s ease;
transition: border-color .5s ease; }
.fotorama__thumb-border {
border-color: #3d3c3c; }
.fotorama__arr--next::before, .fotorama__arr--prev::before {
font-family: fontawesome;
font-size: 32px; }
.fotorama__arr--next::before {
content: '\f105'; }
.fotorama__arr--prev {
left: 25px; }
.fotorama__arr--prev::before {
content: '\f104'; }
input, textarea, select,
.selectize-control .selectize-input,
.selectize-control.single .selectize-input.input-active {
padding: 8px 22px;
background-color: transparent;
border: 1px solid #023B62;
border-bottom: 2px solid #023B62;
-webkit-border-radius: 2px;
border-radius: 2px;
outline: none;
display: inline-block;
font-size: 16px;
color: #333; }
select {
padding: 10px 20px; }
.selectize-control .selectize-input {
-webkit-box-shadow: none;
box-shadow: none;
overflow: inherit;
line-height: inherit;
text-align: left; }
.selectize-control .selectize-input input {
font-size: 16px; }
.selectize-control .selectize-input.dropdown-active::before {
background-color: transparent; }
.selectize-control.single .selectize-input::after, .selectize-control.single.dropdown-active::after {
border: none;
content: '\f107';
font-family: fontawesome;
position: absolute;
right: 30px;
top: 12px; }
.selectize-control.single .selectize-input.dropdown-active::after, .selectize-control.single.dropdown-active.dropdown-active::after {
content: '\f106'; }
.selectize-dropdown {
font-size: 15px;
border: none;
-webkit-border-radius: 0;
border-radius: 0;
text-align: left; }
.selectize-dropdown-content .option {
padding: 10px 22px; }
.selectize-dropdown-content .option.active {
background-color: #1978b6; }
.success {
display: none;
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
text-transform: uppercase;
font-weight: bold;
z-index: 10; }
.success span {
margin: auto; }
.success ~ * {
-webkit-transition: all .5s ease;
-o-transition: all .5s ease;
transition: all .5s ease; }
.success.active ~ * {
opacity: .5;
-webkit-filter: blur(10px);
filter: blur(10px); }
.callback {
padding: 25% 0;
position: relative; }
.callback-logo img {
display: block;
margin: 0 auto 20px;
width: 140px;
height: auto; }
.callback .formhead {
margin-top: 0;
font-size: 30px;
color: #fff; }
.callback p {
margin-top: 0; }
.callback input, .callback textarea, .callback select,
.callback .selectize-control .selectize-input,
.callback .selectize-control.single .selectize-input.input-active {
color: #fff;
width: 100%;
margin-top: 17px; }
.callback input::-webkit-input-placeholder, .callback textarea::-webkit-input-placeholder, .callback select::-webkit-input-placeholder,
.callback .selectize-control .selectize-input::-webkit-input-placeholder,
.callback .selectize-control.single .selectize-input.input-active::-webkit-input-placeholder {
color: #fff;
opacity: 1; }
.callback input::-moz-placeholder, .callback textarea::-moz-placeholder, .callback select::-moz-placeholder,
.callback .selectize-control .selectize-input::-moz-placeholder,
.callback .selectize-control.single .selectize-input.input-active::-moz-placeholder {
color: #fff;
opacity: 1; }
.callback input::-ms-input-placeholder, .callback textarea::-ms-input-placeholder, .callback select::-ms-input-placeholder,
.callback .selectize-control .selectize-input::-ms-input-placeholder,
.callback .selectize-control.single .selectize-input.input-active::-ms-input-placeholder {
color: #fff; }
.callback input option, .callback textarea option, .callback select option,
.callback .selectize-control .selectize-input option,
.callback .selectize-control.single .selectize-input.input-active option {
color: #333; }
.button {
margin-top: 40px; }
.reviews {
text-align: center; }
.reviews .owl-dots {
width: 100%;
text-align: center;
margin-top: 60px; }
.reviews .owl-dots .owl-dot {
width: 8px;
height: 8px;
background-color: #fff;
-webkit-border-radius: 10em;
border-radius: 10em;
display: inline-block;
margin: 4px;
-webkit-transition: background-color .5s ease, -webkit-transform .5s ease;
transition: background-color .5s ease, -webkit-transform .5s ease;
-o-transition: background-color .5s ease, transform .5s ease;
transition: background-color .5s ease, transform .5s ease;
transition: background-color .5s ease, transform .5s ease, -webkit-transform .5s ease;
outline: none; }
.reviews .owl-dots .owl-dot.active {
background-color: #FF9800;
-webkit-transform: scale(1.3);
-ms-transform: scale(1.3);
transform: scale(1.3); }
.review {
margin-top: 20px; }
.review-header {
font-family: 'Times New Roman', serif;
font-style: italic;
font-size: 30px;
font-weight: bold; }
.review-date {
font-family: 'Times New Roman', serif;
font-style: italic;
font-size: 15px;
color: #888; }
.review-stars {
margin: 18px 0 30px;
font-size: 14px;
color: #FF9800; }
.review-stars .fa {
margin: 0 2.5px; }
.review-text {
color: #95989a; }
.quots {
position: absolute;
width: 100%; }
.quots::before, .quots::after {
content: ',,';
position: absolute;
top: 182px;
font-size: 56px;
color: #FF9800;
font-family: 'Times New Roman', serif;
font-weight: bold;
line-height: 0;
-webkit-transform: rotate(180deg);
-ms-transform: rotate(180deg);
transform: rotate(180deg);
display: block; }
.quots::before {
top: 220px;
left: -60px; }
.quots::after {
right: -60px;
-webkit-transform: rotate(0);
-ms-transform: rotate(0);
transform: rotate(0); }
.partners .partner {
height: 100%;
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
margin: auto; }
.partners .owl-stage {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex; }
.partners .owl-item {
margin-top: 30px; }
.partners .owl-item img {
max-width: 100%;
width: auto;
display: inline-block;
margin: auto; }
.partners .owl-nav {
position: absolute;
top: 0;
width: 100%;
z-index: 2; }
.partners .owl-nav > button {
position: absolute;
top: 50px;
outline: none; }
.partners .owl-nav > button .fa {
color: #888;
font-size: 40px;
padding: 0 10px;
-webkit-transition: opacity .5s ease;
-o-transition: opacity .5s ease;
transition: opacity .5s ease; }
.partners .owl-nav > button .fa:hover {
opacity: .6; }
.partners .owl-nav > button.owl-prev {
left: -60px; }
.partners .owl-nav > button.owl-next {
right: -60px; }
.main-footer {
background-color: #242424;
padding: 3% 0;
color: #fff;
font-size: 14px; }
.footer-column {
margin: 15px 0; }
.logo-footer {
width: 125px;
height: auto; }
.logo-footer + p {
color: #666;
padding: 0;
margin: 15px 0;
font-size: 14px; }
.social-footer {
margin-top: 38px; }
.social-footer .soc li {
display: inline-block;
margin: 3px; }
.social-footer .soc li i {
color: #ababab; }
.social-footer .soc li a {
margin-bottom: 0;
-webkit-transition: color .5s ease, background-color .5s ease;
-o-transition: color .5s ease, background-color .5s ease;
transition: color .5s ease, background-color .5s ease; }
.social-footer .soc li:hover {
color: rgba(255, 255, 255, 0.8); }
.footer-menu li.active a {
color: #FF9800; }
.footer-menu li.active a::before {
color: #FF9800; }
.footer-menu a {
color: #979797;
-webkit-transition: color .5s ease;
-o-transition: color .5s ease;
transition: color .5s ease;
display: inline-block;
padding: 3.5px 0;
text-decoration: underline;
padding-left: 20px;
position: relative; }
.footer-menu a:hover, .footer-menu a:focus {
color: #FF9800; }
.footer-menu a:hover::before, .footer-menu a:focus::before {
color: #FF9800; }
.footer-menu a::before {
position: absolute;
font-family: fontawesome;
content: '\f219';
left: 0;
font-size: 12px;
color: #fff;
-webkit-transition: color .5s ease;
-o-transition: color .5s ease;
transition: color .5s ease;
top: 6px;
margin-right: 12px; }
.footer-address {
position: relative;
font-size: 15px;
padding-left: 24px;
margin: 0 0 20px; }
.footer-address .fa {
position: absolute;
left: 0;
top: 5px;
font-size: 18px;
color: #555; }
.footer-address .footer-phone {
font-size: 26px;
font-family: firasans, sans-serif;
padding: 10px;
display: block;
white-space: nowrap; }
.footer-address .footer-phone .fa {
top: 22px;
font-size: 22px;
left: 3px; }
.map {
max-height: 200px;
opacity: .7;
-webkit-transition: opacity .5s ease;
-o-transition: opacity .5s ease;
transition: opacity .5s ease; }
.map:hover {
opacity: 1; }
.top {
position: fixed;
bottom: 25px;
right: -100px;
background-color: #e0e0e0;
z-index: 12;
-webkit-border-radius: 50%;
border-radius: 50%;
color: #666;
font-size: 26px;
width: 50px;
height: 50px;
text-align: center;
line-height: 50px;
cursor: pointer;
-webkit-transition: all .3s ease;
-o-transition: all .3s ease;
transition: all .3s ease;
opacity: .5; }
.top:hover {
color: #fff;
background-color: #FF9800;
opacity: 1; }
.top.active {
right: 25px; }
.preloader {
position: fixed;
top: 0;
left: 0;
bottom: 0;
right: 0;
z-index: 100;
background-color: #000; }
.preloader .pulse {
position: relative;
left: 50%;
top: 50vh;
margin-left: -40px;
margin-top: -40px; }
.preloader .pulse::before, .preloader .pulse::after {
content: '';
border: 5px solid #323232;
height: 80px;
width: 80px;
-webkit-border-radius: 500px;
border-radius: 500px;
position: absolute; }
.preloader .pulse::before {
-webkit-animation: pulse-outer .8s ease-in infinite;
animation: pulse-outer .8s ease-in infinite; }
.preloader .pulse::after {
-webkit-animation: pulse-inner .8s linear infinite;
animation: pulse-inner .8s linear infinite; }
@-webkit-keyframes pulse-outer {
0% {
opacity: 1;
filter: alpha(opacity=100); }
50% {
opacity: 0.5;
filter: alpha(opacity=50); }
100% {
opacity: 0;
filter: alpha(opacity=0); } }
@keyframes pulse-outer {
0% {
opacity: 1;
filter: alpha(opacity=100); }
50% {
opacity: 0.5;
filter: alpha(opacity=50); }
100% {
opacity: 0;
filter: alpha(opacity=0); } }
@-webkit-keyframes pulse-inner {
0% {
opacity: 0;
filter: alpha(opacity=0);
trаnsform: scale(1); }
100% {
opacity: 1;
filter: alpha(opacity=100);
-webkit-transform: scale(1.5);
transform: scale(1.5); } }
@keyframes pulse-inner {
0% {
opacity: 0;
filter: alpha(opacity=0);
trаnsform: scale(1); }
100% {
opacity: 1;
filter: alpha(opacity=100);
-webkit-transform: scale(1.5);
transform: scale(1.5); } }
/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
.welcome .h1 {
font-size: 64px; }
.header-contacts {
font-size: 14px; }
.carousel-services-item {
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-webkit-flex-direction: column;
-ms-flex-direction: column;
flex-direction: column; }
.s-king, .s-preview, .s-partner {
padding: 8% 0; } }
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
.welcome .h1 {
font-size: 48px; }
.s-call::before {
width: 100%; }
.s-call .callback {
padding: 12% 0; }
.footer-address {
margin-bottom: 15px; }
.footer-address .footer-phone {
font-size: 24px;
padding-top: 0; }
.footer-address .footer-phone .fa {
top: 9px; } }
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
.header-contacts .phone-h {
text-align: left; }
.button {
padding: 12px 36px; }
.quots {
display: none; }
.partners .owl-nav > button.owl-prev {
left: 0; }
.partners .owl-nav > button.owl-next {
right: 0; }
.s-partners .h2 {
margin: 0; }
.social-footer {
margin-top: 0; }
.social-footer .soc li a {
margin-top: 0; }
.footer-menu {
padding-left: 30px; } }
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
.welcome .h1 {
font-size: 28px;
margin-top: 5px; }
.welcome p span {
font-size: 9px; }
.welcome strong {
margin-top: 14px;
font-size: 14px; }
.header-composition p {
font-size: 14px; } }

