@font-face {
  font-family: 'MyWebFont';
  src: url('webfont.eot'); /* IE9 Compat Modes */
  src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('webfont.woff2') format('woff2'),  Super Modern Browsers 
       url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
	font-family: 'Kurale-Regular';
	src: url('Kurale-Regular.ttf') format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PT_Sans-Web-Bold';
	src: url('PT_Sans-Web-Bold.ttf') format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PT_Sans-Web-BoldItalic';
	src: url('PT_Sans-Web-BoldItalic.ttf') format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PT_Sans-Web-BoldItalic';
	src: url('PT_Sans-Web-BoldItalic.ttf') format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PT_Sans-Web-Regular';
	src: url('PT_Sans-Web-Regular.ttf') format("truetype");
	font-weight: normal;
	font-style: normal;
}